# update this for the Pulsar II test mezanine
# JTO 24 April 2014

NET eth/txoutclk TNM_NET=txoutclk;
TIMESPEC TS_txoutclk = PERIOD txoutclk 16ns;

NET clocks/rst TIG;
NET clocks/nuke_i TIG;

#NET gt_clkp LOC=G8 | DIFF_TERM=TRUE | TNM_NET=gt_clk;
#NET gt_clkn LOC=G7 | DIFF_TERM=TRUE;

# Mezzanine reference clock 125MHz

NET gt_clkp LOC=D6 | DIFF_TERM=TRUE | TNM_NET=gt_clk;
NET gt_clkn LOC=D5 | DIFF_TERM=TRUE;

TIMESPEC TS_gt_clk = PERIOD gt_clk 8ns;

# INST eth/phy/*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y10;

# Mezzanine channel 3, No polarity inversion here
# bank 115 port 3, XC7K160T

INST eth/phy/*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y3;

# SFP LOS is not connected on mezzanine, connect this to TP9
# and pulldown
# NET sfp_los LOC=P19 | IOSTANDARD=LVCMOS25;

NET sfp_los LOC=Y17 | IOSTANDARD=LVCMOS25 | PULLDOWN;

#NET leds<0> LOC=AB8 | IOSTANDARD=LVCMOS15;
#NET leds<1> LOC=AA8 | IOSTANDARD=LVCMOS15;
#NET leds<2> LOC=AC9 | IOSTANDARD=LVCMOS15;
#NET leds<3> LOC=AB9 | IOSTANDARD=LVCMOS15;

# Mezzanine LED locations are 2.5 I/O

NET leds<0> LOC=M18 | IOSTANDARD=LVCMOS25;
NET leds<1> LOC=M17 | IOSTANDARD=LVCMOS25;
NET leds<2> LOC=N18 | IOSTANDARD=LVCMOS25;
NET leds<3> LOC=N19 | IOSTANDARD=LVCMOS25;

### here are the VIPRAM specific pins ###

NET sysclk_p LOC=Y8 | DIFF_TERM=TRUE | IOSTANDARD=LVDS | TNM_NET=main_clk;
NET sysclk_n LOC=Y7 | DIFF_TERM=TRUE | IOSTANDARD=LVDS;

TIMESPEC TS_main_clk = PERIOD main_clk 5ns;

NET "VIPQ<83>" LOC = A14 | IOSTANDARD=LVCMOS15; # a0
NET "VIPQ<82>" LOC = A13 | IOSTANDARD=LVCMOS15; # a1
NET "VIPQ<81>" LOC = D20 | IOSTANDARD=LVCMOS15; # a2
NET "VIPQ<80>" LOC = A16 | IOSTANDARD=LVCMOS15; # a3
NET "VIPQ<79>" LOC = A15 | IOSTANDARD=LVCMOS15; # a4
NET "VIPQ<78>" LOC = B13 | IOSTANDARD=LVCMOS15; # a5
NET "VIPQ<77>" LOC = B15 | IOSTANDARD=LVCMOS15; # a6
NET "VIPQ<76>" LOC = B16 | IOSTANDARD=LVCMOS15; # a7
NET "VIPQ<75>" LOC = A18 | IOSTANDARD=LVCMOS15; # a8
NET "VIPQ<74>" LOC = B18 | IOSTANDARD=LVCMOS15; # a9
NET "VIPQ<73>" LOC = A19 | IOSTANDARD=LVCMOS15; # a10
NET "VIPQ<72>" LOC = A21 | IOSTANDARD=LVCMOS15; # a11
NET "VIPQ<71>" LOC = A20 | IOSTANDARD=LVCMOS15; # a12
NET "VIPQ<70>" LOC = B21 | IOSTANDARD=LVCMOS15; # a13
NET "VIPQ<69>" LOC = B20 | IOSTANDARD=LVCMOS15; # a14
NET "VIPQ<68>" LOC = B22 | IOSTANDARD=LVCMOS15; # a15
NET "VIPQ<67>" LOC = G15 | IOSTANDARD=LVCMOS15; # b0
NET "VIPQ<66>" LOC = E17 | IOSTANDARD=LVCMOS15; # b1
NET "VIPQ<65>" LOC = F14 | IOSTANDARD=LVCMOS15; # b2
NET "VIPQ<64>" LOC = H13 | IOSTANDARD=LVCMOS15; # b3
NET "VIPQ<63>" LOC = G17 | IOSTANDARD=LVCMOS15; # b4
NET "VIPQ<62>" LOC = H15 | IOSTANDARD=LVCMOS15; # b5
NET "VIPQ<61>" LOC = H17 | IOSTANDARD=LVCMOS15; # b6
NET "VIPQ<60>" LOC = D22 | IOSTANDARD=LVCMOS15; # b7
NET "VIPQ<59>" LOC = J16 | IOSTANDARD=LVCMOS15; # b8
NET "VIPQ<58>" LOC = G16 | IOSTANDARD=LVCMOS15; # b9
NET "VIPQ<57>" LOC = H14 | IOSTANDARD=LVCMOS15; # b10
NET "VIPQ<56>" LOC = H9  | IOSTANDARD=LVCMOS15; # b11
NET "VIPQ<55>" LOC = F16 | IOSTANDARD=LVCMOS15; # b12
NET "VIPQ<54>" LOC = J17 | IOSTANDARD=LVCMOS15; # b13
NET "VIPQ<53>" LOC = C22 | IOSTANDARD=LVCMOS15; # b14
NET "VIPQ<52>" LOC = D21 | IOSTANDARD=LVCMOS15; # b15
NET "VIPQ<51>" LOC = C10 | IOSTANDARD=LVCMOS15; # c0
NET "VIPQ<50>" LOC = F11 | IOSTANDARD=LVCMOS15; # c1
NET "VIPQ<49>" LOC = E11 | IOSTANDARD=LVCMOS15; # c2
NET "VIPQ<48>" LOC = D10 | IOSTANDARD=LVCMOS15; # c3
NET "VIPQ<47>" LOC = F10 | IOSTANDARD=LVCMOS15; # c4
NET "VIPQ<46>" LOC = C8  | IOSTANDARD=LVCMOS15; # c5
NET "VIPQ<45>" LOC = E8  | IOSTANDARD=LVCMOS15; # c6
NET "VIPQ<44>" LOC = P4  | IOSTANDARD=LVCMOS15; # c7
NET "VIPQ<43>" LOC = C9  | IOSTANDARD=LVCMOS15; # c8
NET "VIPQ<42>" LOC = AB3 | IOSTANDARD=LVCMOS15; # c9
NET "VIPQ<41>" LOC = F8  | IOSTANDARD=LVCMOS15; # c10
NET "VIPQ<40>" LOC = D9  | IOSTANDARD=LVCMOS15; # c11
NET "VIPQ<39>" LOC = AB2 | IOSTANDARD=LVCMOS15; # c12
NET "VIPQ<38>" LOC = AA3 | IOSTANDARD=LVCMOS15; # c13
NET "VIPQ<37>" LOC = AB1 | IOSTANDARD=LVCMOS15; # c14
NET "VIPQ<36>" LOC = Y1  | IOSTANDARD=LVCMOS15; # c15
NET "VIPQ<35>" LOC = M1  | IOSTANDARD=LVCMOS15; # d0
NET "VIPQ<34>" LOC = K2  | IOSTANDARD=LVCMOS15; # d1
NET "VIPQ<33>" LOC = K1  | IOSTANDARD=LVCMOS15; # d2
NET "VIPQ<32>" LOC = P2  | IOSTANDARD=LVCMOS15; # d3
NET "VIPQ<31>" LOC = L1  | IOSTANDARD=LVCMOS15; # d4
NET "VIPQ<30>" LOC = R2  | IOSTANDARD=LVCMOS15; # d5
NET "VIPQ<29>" LOC = M2  | IOSTANDARD=LVCMOS15; # d6
NET "VIPQ<28>" LOC = P1  | IOSTANDARD=LVCMOS15; # d7
NET "VIPQ<27>" LOC = R1  | IOSTANDARD=LVCMOS15; # d8
NET "VIPQ<26>" LOC = T1  | IOSTANDARD=LVCMOS15; # d9
NET "VIPQ<25>" LOC = U1  | IOSTANDARD=LVCMOS15; # d10
NET "VIPQ<24>" LOC = U2  | IOSTANDARD=LVCMOS15; # d11
NET "VIPQ<23>" LOC = W1  | IOSTANDARD=LVCMOS15; # d12
NET "VIPQ<22>" LOC = Y2  | IOSTANDARD=LVCMOS15; # d13
NET "VIPQ<21>" LOC = W2  | IOSTANDARD=LVCMOS15; # d14
NET "VIPQ<20>" LOC = AA1 | IOSTANDARD=LVCMOS15; # d15
NET "VIPQ<19>" LOC = N3 | IOSTANDARD=LVCMOS15; # rowaddr 0
NET "VIPQ<18>" LOC = N4 | IOSTANDARD=LVCMOS15; # rowaddr 1
NET "VIPQ<17>" LOC = N5 | IOSTANDARD=LVCMOS15; # rowaddr 2
NET "VIPQ<16>" LOC = M3 | IOSTANDARD=LVCMOS15; # rowaddr 3
NET "VIPQ<15>" LOC = N2 | IOSTANDARD=LVCMOS15; # rowaddr 4
NET "VIPQ<14>" LOC = L4 | IOSTANDARD=LVCMOS15; # rowaddr 5
NET "VIPQ<13>" LOC = L3 | IOSTANDARD=LVCMOS15; # rowaddr 6
NET "VIPQ<12>" LOC = M5 | IOSTANDARD=LVCMOS15; # coladdr 0
NET "VIPQ<11>" LOC = L5 | IOSTANDARD=LVCMOS15; # coladdr 1
NET "VIPQ<10>" LOC = K4 | IOSTANDARD=LVCMOS15; # coladdr 2
NET "VIPQ<9>"  LOC = H8 | IOSTANDARD=LVCMOS15; # coladdr 3
NET "VIPQ<8>"  LOC = K3 | IOSTANDARD=LVCMOS15; # coladdr 4
NET "VIPQ<7>" LOC = F9  | IOSTANDARD=LVCMOS15; # miss 0
NET "VIPQ<6>" LOC = E9  | IOSTANDARD=LVCMOS15; # miss 1
NET "VIPQ<5>" LOC = H12 | IOSTANDARD=LVCMOS15; # miss 2
NET "VIPQ<4>" LOC = H10 | IOSTANDARD=LVCMOS15; # latchdata
NET "VIPQ<3>" LOC = G13 | IOSTANDARD=LVCMOS15; # eventrearm
NET "VIPQ<2>" LOC = E14 | IOSTANDARD=LVCMOS15; # runmode
NET "VIPQ<1>" LOC = G12 | IOSTANDARD=LVCMOS15; # reqlayera
NET "VIPQ<0>" LOC = G11 | IOSTANDARD=LVCMOS15; # primary

NET "VIPD<0>"  LOC = D19 | IOSTANDARD=LVCMOS15; # data 31
NET "VIPD<1>"  LOC = C20 | IOSTANDARD=LVCMOS15; # data 30
NET "VIPD<2>"  LOC = E19 | IOSTANDARD=LVCMOS15; # data 29
NET "VIPD<3>"  LOC = B12 | IOSTANDARD=LVCMOS15; # data 28
NET "VIPD<4>"  LOC = C19 | IOSTANDARD=LVCMOS15; # data 27
NET "VIPD<5>"  LOC = A11 | IOSTANDARD=LVCMOS15; # data 26
NET "VIPD<6>"  LOC = E18 | IOSTANDARD=LVCMOS15; # data 25
NET "VIPD<7>"  LOC = B11 | IOSTANDARD=LVCMOS15; # data 24
NET "VIPD<8>"  LOC = A10 | IOSTANDARD=LVCMOS15; # data 23
NET "VIPD<9>"  LOC = C18 | IOSTANDARD=LVCMOS15; # data 22
NET "VIPD<10>" LOC = A9  | IOSTANDARD=LVCMOS15; # data 21
NET "VIPD<11>" LOC = B10 | IOSTANDARD=LVCMOS15; # data 20
NET "VIPD<12>" LOC = F18 | IOSTANDARD=LVCMOS15; # data 19
NET "VIPD<13>" LOC = B17 | IOSTANDARD=LVCMOS15; # data 18
NET "VIPD<14>" LOC = A8  | IOSTANDARD=LVCMOS15; # data 17
NET "VIPD<15>" LOC = C17 | IOSTANDARD=LVCMOS15; # data 16
NET "VIPD<16>" LOC = D17 | IOSTANDARD=LVCMOS15; # data 15
NET "VIPD<17>" LOC = D16 | IOSTANDARD=LVCMOS15; # data 14
NET "VIPD<18>" LOC = B8  | IOSTANDARD=LVCMOS15; # data 13
NET "VIPD<19>" LOC = E16 | IOSTANDARD=LVCMOS15; # data 12
NET "VIPD<20>" LOC = C15 | IOSTANDARD=LVCMOS15; # data 11
NET "VIPD<21>" LOC = D15 | IOSTANDARD=LVCMOS15; # data 10
NET "VIPD<22>" LOC = F15 | IOSTANDARD=LVCMOS15; # data 9
NET "VIPD<23>" LOC = D14 | IOSTANDARD=LVCMOS15; # data 8
NET "VIPD<24>" LOC = F13 | IOSTANDARD=LVCMOS15; # data 7
NET "VIPD<25>" LOC = C13 | IOSTANDARD=LVCMOS15; # data 6
NET "VIPD<26>" LOC = C14 | IOSTANDARD=LVCMOS15; # data 5
NET "VIPD<27>" LOC = C12 | IOSTANDARD=LVCMOS15; # data 4
NET "VIPD<28>" LOC = E12 | IOSTANDARD=LVCMOS15; # data 3
NET "VIPD<29>" LOC = E13 | IOSTANDARD=LVCMOS15; # data 2
NET "VIPD<30>" LOC = D12 | IOSTANDARD=LVCMOS15; # data 1
NET "VIPD<31>" LOC = D11 | IOSTANDARD=LVCMOS15; # data 0

NET "MC_A" LOC = G10 | IOSTANDARD=LVCMOS15;
NET "MC_B" LOC = G8  | IOSTANDARD=LVCMOS15;

### Power Control

NET "VPWR_EN"    LOC = Y4 | IOSTANDARD=LVCMOS15;

NET "SCL<2>" LOC = M16 | IOSTANDARD=LVCMOS25;
NET "SCL<1>" LOC = V4 | IOSTANDARD=LVCMOS15;
NET "SCL<0>" LOC = V3 | IOSTANDARD=LVCMOS15;

NET "SDA<2>" LOC = N17 | IOSTANDARD=LVCMOS25;
NET "SDA<1>" LOC = V2 | IOSTANDARD=LVCMOS15;
NET "SDA<0>" LOC = V5 | IOSTANDARD=LVCMOS15;